!!! 5
%html
  %head
    %meta{ charset: "UTF-8" }
    %title= "#{theme} - EXPORT"
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %link{ href: asset("theme.css"), media: "screen", rel: "stylesheet" }
    %link{ href: root_asset("fonts/fonts.css"), media: "screen", rel: "stylesheet" }
    %script{ src: asset("theme.js"), type: "text/javascript" }
  %body
    = contents
